body {
  font-family: 'Poppins', sans-serif;
  background: #f5eee6;
  margin: 0;
  padding: 40px 0;
  color: #333;
  display: flex;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 650px;
  background: white;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

.sentence-card {
  background: #fff7ef;
  border-left: 6px solid #ffb36b;
  padding: 15px 18px;
  margin-bottom: 18px;
  border-radius: 12px;
  transition: 0.3s;
}

.sentence-card:hover {
  transform: translateY(-3px);
}

.translation {
  display: none;
  margin-top: 8px;
  color: #444;
  font-size: 15px;
}

.show-btn {
  margin-top: 10px;
  background: #ffb36b;
  border: none;
  color: white;
  padding: 7px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
}

.show-btn:hover {
  background: #ff9740;
}

#nextBtn {
  margin-top: 25px;
  background: #ff8d72;
  border: none;
  color: white;
  padding: 12px 24px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.audio-btn {
  margin-top: 8px;
  background: #7db4ff;
  border: none;
  color: white;
  padding: 6px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
}

.audio-btn:hover {
  background: #4f95ff;
}


#nextBtn:hover {
  background: #ff7553;
}
